Board.hbs <br>

<h1>Favorite Board</h1>
<p>Board id : {{this.model.id}}</p>
<p>Board name : {{this.model.name}}</p>
<p>Board description : {{this.model.description}}</p>
<p>Board creationDate : {{this.model.creationDate}}</p>
