<p>Board name : {{this.model.name}}</p>


<div class="kb-content">
  <div class="kb-swimlane">
    {{#each this.model.columns as |column|}}
      {{kb-column column=column board=this.model}}
    {{/each}}
  </div>
</div>
